body {
  font-size: 32px;
  line-height: 1.5;
}
.list {
  list-style: none;
}

.bold {
  font-weight: 700;
}

.name-countri {
  display: block;
  text-align: center;
  font-size: 64px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 700;
}

.wrapper-countri {
  display: flex;
  justify-content: space-between;
}

.wrappet-information-countri {
  padding-left: 90px;
}

.list-item-capital {
  margin-bottom: 34px;
}

.title-languages {
  padding-left: 40px;
}

.list-languages {
  margin-left: 60px;
}

.img {
  display: inline-block;
  height: 600px;
  width: 600px;
}

.wrapper-img {
  padding-right: 90px;
}
